**Q1. Write pandas Series code without using Dictionary**

In [20]:
letters = ['a', 'x', 'c', '2', 'e']
index = [1, 4, 9, 6, 7]
Series = pd.Series(index, index=letters)
print(Series)

a    1
x    4
c    9
2    6
e    7
dtype: int64

**Q2. Pandas Series using Dictionary**

In [21]:
using_Dict = {'Bilal': 42, 'Ayesha': 38, 'Hadia': 23}
pd_dict = pd.Series(using_Dict)
print(pd_dict)

Bilal     42
Ayesha    38
Hadia     23
dtype: int64

**Q3. Pandas Dataframe using data Dictionary**

In [22]:
g_data = {'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/3/2017', '1/4/2017', '1/5/2017'],
        'temprature': [32, 35, 28, 24, 32, 31],
        'windspeed': [6, 7, 2, 7, 4, 2],
        'event': ['Rain', 'Sunny', 'Sunny', 'Snow', 'Rain', 'Snow']}

df = pd.DataFrame(data=g_data)
print(df)

        day  temprature  windspeed  event
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny
2  1/3/2017          28          2  Sunny
3  1/3/2017          24          7   Snow
4  1/4/2017          32          4   Rain
5  1/5/2017          31          2   Snow

**Q4. Pandas Dataframe index change**

In [23]:
df = pd.DataFrame(data=g_data, index=['a', 'b', 'c', 'd', 'e', 'f'])
print(df)

        day  temprature  windspeed  event
a  1/1/2017          32          6   Rain
b  1/2/2017          35          7  Sunny
c  1/3/2017          28          2  Sunny
d  1/3/2017          24          7   Snow
e  1/4/2017          32          4   Rain
f  1/5/2017          31          2   Snow

**Q5. calculate mean, maximum, minmum**

In [24]:
#Minimum Value
min_val = df['temprature'].min()
print('Minimum Value:', min_val)

Minimum Value: 24

In [25]:
#Maximum Value
max_val = df['temprature'].max()
print('Maximum Value:', max_val)

Maximum Value: 35

In [26]:
#Mean value
mean_val = df['temprature'].mean()
print('Mean value: {:.2f}'.format(mean_val ))

Mean value: 30.33

In [1]:
import pandas as pd

**Q6. Import the Csv folder with following instructions**
*   You’re required to import only specific columns
*   ["First Name", "Sex", "Email", “Phone”, “Job  
     Title”]
*   Set the following columns ["Sex", "Job Title"] as index columns
*   Skip following rows [1,5]
*   Export the CSV as “NewPeople.csv

In [31]:
columns = ['First Name', 'Sex', 'Email', 'Phone', 'Job Title']
skip_rows = [1, 5]

In [29]:
data = pd.read_csv('people.csv', usecols=columns, skiprows=skip_rows)

#set Index column

index_columns = ["Sex", "Job Title"]
df.set_index(index_columns, inplace=True)

In [36]:
# Export the DataFrame to a new CSV file
df.to_csv("NewPeople.csv")

print("NewPeople.csv has been exported successfully.")

NewPeople.csv has been exported successfully.

**Q.7:** Import excel sheet ‘SampleWork.xlsx’ in the given folder. Keep in mind the following instructions:
*   Import sheet 1
*   Import only first and last column from sheet 1
*   Skip row 2 while importing the sheet
*   Skip row 2 while importing the sheet
*   Set row 2 as header
*  export as new sheet.

In [8]:
data = pd.read_excel('SampleWork.xlsx', sheet_name='Sheet1', usecols=[0,3], skiprows=[1], header=1)
print(data)

#Export it to excel file
data.to_excel('NewSampleWork.xlsx', index=False)
print("Sample data of 'Sample.xlsx' has been converted to newsample file.xlsx")

   1
0  2
Sample data of 'Sample.xlsx' has been converted to newsample file.xlsx

<ipython-input-8-e4a31e8ff444>:1: FutureWarning: Defining usecols with out of bounds indices is deprecated and will raise a ParserError in a future version.
  data = pd.read_excel('/content/drive/MyDrive/SampleWork.xlsx', sheet_name='Sheet1', usecols=[0,3], skiprows=[1], header=1)

**Q.8:** Create the following dataframe as AICP_DF then implement different operations as described below:
*   select 'Name', 'Qualification' coloumns and save to df1
*   add a new column to AICP_DF “Height” with the following values: [5.1, 6.2, 5.1, 5.2,5.1]
*   set column “Name” as the index column.
*   retrieve row with index “Hifza”
*   retrieve row with index 3
*   drop row with index “Bilal

In [10]:
AICP_DF = {'Name': ['Sonia', 'Bilal', 'Hifza', 'Kabir', 'Jazim'],
           'Age': [27, 24, 22, 32, 23],
           'Adress': ['Lahore', 'karachi', 'Sialkot', 'Peshawar', 'Lhr'],
           'Qualification': ['MSc', 'MA', 'MCA', 'Phd', 'Bsc']}

df = pd.DataFrame(AICP_DF)
print(df)

    Name  Age    Adress Qualification
0  Sonia   27    Lahore           MSc
1  Bilal   24   karachi            MA
2  Hifza   22   Sialkot           MCA
3  Kabir   32  Peshawar           Phd
4  Jazim   23       Lhr           Bsc

In [14]:
df1 = df[['Name', 'Qualification']]
print(df1)

    Name Qualification
0  Sonia           MSc
1  Bilal            MA
2  Hifza           MCA
3  Kabir           Phd
4  Jazim           Bsc

In [15]:
#Set column name as index Name
df['Height'] = [5.1, 6.2, 5.1, 5.2,5.1]
df.set_index('Name', inplace=True)
print(df)

       Age    Adress Qualification  Height
Name
Sonia   27    Lahore           MSc     5.1
Bilal   24   karachi            MA     6.2
Hifza   22   Sialkot           MCA     5.1
Kabir   32  Peshawar           Phd     5.2
Jazim   23       Lhr           Bsc     5.1

In [17]:
#Retrieve column 'Name' with index 'Hifza'
df.loc['Hifza']

Age                   22
Adress           Sialkot
Qualification        MCA
Height               5.1
Name: Hifza, dtype: object

In [18]:
#Retrieve Column with index 3
df.iloc[3]

Age                    32
Adress           Peshawar
Qualification         Phd
Height                5.2
Name: Kabir, dtype: object

In [19]:
df.drop('Bilal', axis=0, inplace=True)
df

       Age    Adress Qualification  Height
Name
Sonia   27    Lahore           MSc     5.1
Hifza   22   Sialkot           MCA     5.1
Kabir   32  Peshawar           Phd     5.2
Jazim   23       Lhr           Bsc     5.1